body {
	font-size: 10em;
	padding: 0;
	margin: 0;
}

div {
	position: fixed;
	display: table;
	border: 3px solid black;
	padding: 0;
	margin: 0;
	text-align: center;
	user-select: none;
	border-radius: 50px;
}

span {
	display: table-cell;
  vertical-align: middle;
}

#left, #right {
	width: calc(25% - 3px);
	height: 100%;
	top: 0;
}

#up, #down {
	width: calc(50% - 6px);
	height: 50%;
	left: 25%;
}

#left {
	left: 0px;
}

#right {
	right: 0px;
}

#up {
	top: 0px;
}

#down {
	bottom: 0px;
}
